@tailwind base;
@tailwind components;
@tailwind utilities;

/* Diseño general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E5E5EA;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

.container {
  padding: 20px;
}