@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  background: #DEE2E6;
  color: #F8F9FA;
}

.horizontal_line {
  width: 4.27rem;
  height: 0.13rem;
  background: #FFFFFF
}